*{
  padding: 0;
  margin: 0;
  box-shadow: 0;
  font-family: 'Open Sans', sans-serif;
}

.container{
    flex-direction: column;
    margin: auto;
    max-width: 900px;
    .scroll-to-up{
      display: none;
      position: fixed;
      right: 0;
      bottom: 0px;
      width: 50px;
      height: 50px;
      z-index: 9999;
      cursor: pointer;
    }
    @media(max-width:650px){
      .scroll-to-up{
      display: block;
    }
  }
    
    .main{ 
      .gost-503-81{
        margin-top: 15px;
        width: 100%; 
      }
      .main__block-search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        button{
          all:unset;
          margin-top: 15px;
          margin-right: 10px;
          width: 70px;
          height: 28px;
          background-color: #A2A9B1;
          border-radius: 50px;
          cursor:pointer;    
        }
      }
      .main__search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(0,0,0,.1);
        max-width: 200px;
        height: 28px;
        border-radius: 5px;
        margin-top:15px;
        margin-left: 10px;
        .main__search-icon{
          margin-left: 2px;
        }
        .main__search-clear{
          margin-right: 2px;
          opacity: 0.5;
          cursor: pointer;
        }
        input{
          all:unset;
          width: 95%;
          font-size: 14px;
          margin-left: 2px;
        }
      }
      details{
        margin-left: 10px;
        margin-right: 10px;
      }
      summary{
        list-style: none;
        font-size: 24px;
        margin-top: 15px;
        border-bottom: 1px solid #A2A9B1;
        cursor: pointer;
      }
      
      p{
        padding: 0px 10px 0px 10px;
        margin-top:15px;
      }
      h3{
        margin: auto;
        margin-top:15px;
        color:blue;
      }
      .h4-first-element{
        margin-top: 15px;
      }
      h4{
        color:red;
      }
      .div-503-81{
        display: flex;
        flex-direction: column;
      }
      .p-margin-top{
        margin-top:-8px;
      }
      details summary:before{ 
        content:url(./assets/arrow-down.svg); 
        margin-right: 6px;
        margin-top: 10px;
      } 
      details[open]summary:before{
        content:url(./assets/arrow-up.svg);
      }  
  }
  .grid * {
    display: grid;
    text-align: center;
    height: 28px;
    border: solid 1px #B1B7BD;
    &.grid__1{
      align-items: center;
      color:green;
    }
    &.grid__4{
      border-left: 0px solid #B1B7BD;
      align-items: center;
      border-radius: 0px 5px 5px 0px;
    }
    &.grid__1:last-child {
      border-radius: 0 5px 5px 0; 
    }
  }
  .grid{
   display: grid;
   grid-template-columns: 20% 20% 20% 0%;
   justify-content: start;
   margin-top: 15px;
   margin-left: 10px;
   .grid__input-1{
    all:unset;
    text-align: center;
    border-top:1px solid #B1B7BD;
    border-bottom:1px solid #B1B7BD;
    border-left: 1px solid #B1B7BD;
    border-radius: 5px 0px 0px 5px;
   }
   .grid__input-2{
    all:unset;
    text-align: center;
    border-top:1px solid #B1B7BD;
    border-bottom:1px solid #B1B7BD;
    border-left: 1px solid #B1B7BD;
   }
  }
}
strong{
  margin-top:15px;
}